@font-face {
  font-family: "Courier Prime Bold";
  src: url("/assets/fonts/CourierPrime/CourierPrime-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Courier Prime Regular";
  src: url("/assets/fonts/CourierPrime/CourierPrime-Regular.ttf") format("truetype"); }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes blink-caret {
  from,
  to {
    background-color: transparent; }
  50% {
    background-color: #4d4d4d; } }

.gray-box {
  height: 100%;
  width: 50%;
  margin-left: auto;
  background-color: #ccccccab; }
  .gray-box-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2; }
  .gray-box-two {
    height: 40%;
    width: 70%;
    margin-left: auto;
    background-color: #ccccccab; }
    .gray-box-two-wrapper {
      position: absolute;
      top: 6rem;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1; }
  .gray-box-three {
    height: 100%;
    width: 70%;
    background-color: #ccccccab; }
    .gray-box-three img {
      box-shadow: 0 0 1.5rem #0000005c;
      clip-path: inset(0 0 -1.5rem 0); }
    .gray-box-three-wrapper {
      position: absolute;
      top: calc(6rem + 7rem + 7rem);
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      z-index: -2; }

@font-face {
  font-family: "Courier Prime Bold";
  src: url("/assets/fonts/CourierPrime/CourierPrime-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Courier Prime Regular";
  src: url("/assets/fonts/CourierPrime/CourierPrime-Regular.ttf") format("truetype"); }

#main-background-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -3; }

.main-background {
  height: 3rem;
  width: 3rem;
  display: inline-flex;
  align-items: center;
  position: relative; }
  .main-background:nth-child(even) {
    background-color: black; }
  .main-background .line {
    height: 0.2rem;
    width: 100%;
    background-color: grey;
    border-radius: 50%; }
  .main-background .line-2 {
    transform: rotate(90deg);
    position: absolute; }

* {
  /* for all elements */
  padding: 0;
  margin: 0;
  /* to add padding and border with height */
  box-sizing: border-box; }

html {
  font-size: 10px; }

html,
body,
main {
  height: 100%;
  color: #fff; }

a,
span {
  display: inline-block; }

a {
  text-decoration: none;
  color: #fff; }

main {
  position: relative;
  font-family: sans-serif;
  overflow: hidden; }
  main .main-wrapper {
    min-height: 100%;
    padding-top: 6rem;
    display: flex;
    justify-content: center; }
  main header {
    height: 6rem;
    position: fixed;
    width: 100%; }
    main header .nav-link {
      color: #4d4d4d;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 1rem; }
      main header .nav-link:hover {
        background-color: #fff;
        color: grey; }
      main header .nav-link-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        font-size: 1.6rem; }
  main .typewriter {
    margin-top: 7rem;
    color: #4d4d4d;
    font-size: 6rem;
    text-align: center;
    font-family: "Courier Prime Regular", "sans-serif";
    height: fit-content;
    display: flex; }
    main .typewriter .title {
      overflow: hidden;
      white-space: nowrap;
      animation: typing 3.5s steps(40, end); }
    main .typewriter .prompt {
      align-self: end;
      width: 2.5rem;
      height: 0.2rem;
      background-color: #4d4d4d;
      animation: blink-caret 0.75s step-end infinite; }
