@font-face {
  font-family: "CourierPrime Regular";
  src: url("/assets/fonts/CourierPrime/CourierPrime-Regular.ttf") format("truetype"); }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes blink-caret {
  from,
  to {
    background-color: transparent; }
  50% {
    background-color: #fffff0; } }

@font-face {
  font-family: "CourierPrime Regular";
  src: url("/assets/fonts/CourierPrime/CourierPrime-Regular.ttf") format("truetype"); }

#main-background-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -3; }

.main-background {
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  position: relative; }
  .main-background:nth-child(odd) {
    background-color: #605e5a; }
  .main-background .line {
    height: 0.2rem;
    width: 100%;
    background-color: #ffe4c4;
    border-radius: 50%; }
  .main-background .line-2 {
    transform: rotate(90deg);
    position: absolute; }

.teal-box {
  height: 100%;
  width: 50%;
  margin-left: auto;
  background-color: #79979fa1; }
  .teal-box-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2; }
  .teal-box-two {
    height: 50%;
    width: 63%;
    margin-left: auto;
    background-color: #79979fa1; }
    .teal-box-two-wrapper {
      position: absolute;
      top: 3.8rem;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1; }
  .teal-box-three {
    height: 100%;
    width: 60%;
    /* margin-left: auto; since we used display flex above now. */
    background-color: #79979fa1; }
    .teal-box-three img {
      box-shadow: 0.2rem 0.2rem 1.5rem #cccc;
      clip-path: inset(-0.1rem -0.2rem -1.5rem -0.1rem); }
    .teal-box-three-wrapper {
      position: absolute;
      top: calc(3.8rem + 6rem + 8.5rem);
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      z-index: -2; }

* {
  padding: 0;
  margin: 0;
  /* to add padding and border with height to all */
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  background-color: #6a3952; }

html,
body,
main {
  height: 100%;
  color: #cccc; }

a,
span {
  display: inline-block; }

a {
  color: white;
  text-decoration: none; }

main {
  position: relative;
  overflow: hidden; }
  main .main-wrapper {
    min-height: 100%;
    padding-top: 3.8rem;
    display: flex;
    justify-content: center;
    /* use display and just cont if you want to align Urvashi Manzoor to some other side.
cuz we want it to have 100% no matter which page */ }
  main header {
    height: 3.8rem;
    position: fixed;
    width: 100%; }
    main header .nav-link {
      height: 100%;
      padding: 0 1rem;
      display: flex;
      align-items: center; }
      main header .nav-link-wrapper {
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        font-size: 1.5rem; }
      main header .nav-link:hover {
        background-color: #ffffff;
        color: black; }
  main .typewriter {
    margin-top: 6rem;
    color: #fffff0;
    font-size: 5rem;
    text-align: center;
    font-family: "CourierPrime Regular", sans-serif;
    height: fit-content;
    display: flex; }
    main .typewriter .title {
      overflow: hidden;
      white-space: nowrap;
      letter-spacing: -0.3rem;
      font-size: 5rem;
      animation: typing 3.5s steps(40, end); }
    main .typewriter .prompt {
      align-self: end;
      width: 2.5rem;
      height: 0.3rem;
      animation: blink-caret 0.75s step-end infinite; }
