//font
@font-face {
  font-family: "CourierPrime Regular";
  src: url("/assets/fonts/CourierPrime/CourierPrime-Regular.ttf")
    format("truetype");
}
// sizes
$header-height: 3.8rem;
$typewriter-margin-top: 6rem;

// font
$typewriter-font-family: "CourierPrime Regular", sans-serif;
$typewriter-font-size: 5rem;

// colors
$text-color: #fffff0;
$teal-box-color: #79979fa1;
