@font-face {
  font-family: "Courier Prime Bold";
  src: url("/assets/fonts/CourierPrime/CourierPrime-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Courier Prime Regular";
  src: url("/assets/fonts/CourierPrime/CourierPrime-Regular.ttf")
    format("truetype");
}

// sizes
$header-height: 6rem;
$typewriter-margin-top: 7rem;
$typewriter-font-size: 6rem;

// font families
$font-family-typewriter: "Courier Prime Regular", "sans-serif";

// colors
$text-color: #4d4d4d;
$gray-box-color: #ccccccab;
